* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidenav-container{
    grid-row: 1 / 3;
    background-color: rgb(0, 128, 255);
}

.sidenav{
    font-weight: 900;
    display: grid;
    gap: 48px;
    padding: 16px;
}

.side-bar, .general-navlinks, .other-navlinks{
    display: grid;
    grid-template-columns: 25px 100px;
    gap: 16px;
    align-items: center;
    color: white;
}

img{
    height: 24px;
}

.header {
    display: grid;
    grid-template-rows: 0.25fr 0.5fr;
}

.upper-header {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    padding: 16px;
}

.left-upper-header {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 8px;
    align-items: center;
}

.right-upper-header {
    display: grid;
    grid-template-columns: 25px 50px 125px;
    gap: 8px;
    align-items: center;
    justify-items: center;
    justify-content: end;
}

.upper-header-pfp {
    height: 32px;
    border-radius: 50%;
}

.upper-header-name {
    font-weight: 900;
}

.search-bar {
    background-color: azure;
    height: 24px;
    border-radius: 25px;
}

.lower-header {
    display: grid;
    grid-template-columns: 2fr 300px;
    padding: 16px;
    font-weight: 900;
}

.left-lower-header {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 8px;
    align-items: center;
}

.right-lower-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.lower-header-pfp {
    height: 42px;
    border-radius: 50%;
}

.greeting {
    font-size: 12px;
}

.user-handle {
    font-size: 20px;
}

.header-button {
    color: white;
    background-color: rgb(0, 128, 255);
    padding: 6px 18px;
    font-size: 12px;
    border-radius: 16px;
    text-align: center;
    width: 42px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 1fr;
}

.projects, .announcements, .trending {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.projects {
    grid-row: 1 / 3;
}