* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidenav{
    font-weight: 900;
    display: grid;
    gap: 56px;
    padding: 16px;
    grid-row: 1 / 3;
}

.side-bar, .general-navlinks, .other-navlinks{
    display: grid;
    grid-template-columns: 25px 100px;
    gap: 16px;
    align-items: center;
}

img{
    height: 24px;
}