* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidenav-container{
    grid-row: 1 / 3;
}

.sidenav{
    font-weight: 900;
    display: grid;
    gap: 48px;
    padding: 16px;
}

.side-bar, .general-navlinks, .other-navlinks{
    display: grid;
    grid-template-columns: 25px 100px;
    gap: 16px;
    align-items: center;
}

img{
    height: 24px;
}

.header {
    display: grid;
    grid-template-rows: 0.25fr 0.45fr;
}

.upper-header {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    padding: 16px;
}

.left-upper-header {
    display: grid;
    grid-template-columns: 25px 300px;
    align-items: center;
}

.right-upper-header {
    display: grid;
    grid-template-columns: 25px 50px 125px;
    align-items: center;
    justify-items: center;
}

.upper-header-pfp {
    align-self: center;
}

.search-bar {
    background-color: azure;
    height: 24px;
    border-radius: 25px;
}

.lower-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-lower-header {
    display: grid;
    grid-template-columns: 50px 200px;
}

.right-lower-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}