* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 4fr;
}

.sidenav-container{
    grid-row: 1 / 3;
    background-color: rgb(0, 128, 255);
}

.sidenav{
    font-weight: 900;
    display: grid;
    gap: 48px;
    padding: 16px;
}

.side-bar, .general-navlinks, .other-navlinks{
    display: grid;
    grid-template-columns: 25px 100px;
    gap: 16px;
    align-items: center;
    color: white;
}

img{
    height: 24px;
}

.header {
    display: grid;
    grid-template-rows: 0.25fr 0.5fr;
}

.upper-header {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    padding: 16px;
}

.left-upper-header {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 8px;
    align-items: center;
}

.right-upper-header {
    display: grid;
    grid-template-columns: 25px 50px 125px;
    gap: 8px;
    align-items: center;
    justify-items: center;
    justify-content: end;
}

.upper-header-pfp {
    height: 32px;
    border-radius: 50%;
}

.upper-header-name {
    font-weight: 900;
}

.search-bar {
    background-color: rgb(235, 246, 246);
    height: 24px;
    border-radius: 25px;
}

.lower-header {
    display: grid;
    grid-template-columns: 2fr 300px;
    padding: 16px;
    font-weight: 900;
}

.left-lower-header {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 8px;
    align-items: center;
}

.right-lower-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.lower-header-pfp {
    height: 42px;
    border-radius: 50%;
}

.greeting {
    font-size: 12px;
}

.user-handle {
    font-size: 20px;
}

.header-button {
    color: white;
    background-color: rgb(0, 128, 255);
    padding: 6px 18px;
    font-size: 12px;
    border-radius: 16px;
    text-align: center;
    width: 42px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 250px;
    background-color: rgb(235, 246, 246);
    padding-top: 16px;
}

.projects, .announcements, .trending {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.projects {
    padding-left: 16px;
    padding-right: 16px;
}

.projects-header, .announcements-header, .trending-header {
    align-self: center;
    font-weight: 900;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 150px);
    gap: 16px;
}

.card-left-border {
    height: 150px;
    background-color: orange;
    border-radius: 8px;
    padding-left: 7px;
}

.card {
    height: 100px;
    padding: 25px;
    display: grid;
    background-color: white;
    grid-template-rows: 20px 50px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-content: space-between;
}

.card-header {
    font-weight: 900;
}

.card-desc {
    font-size: 14px;
}

.card-icons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 25px);
    gap: 8px;
}

.card-desc, .announcement-desc, .account-bio {
    color: gray;
    font-weight: 500;
}

.right-cards {
    padding-right: 24px;
}

.announcements-card, .trending-card {
    background-color: white;
    padding: 25px;
    display: grid;
    gap: 16px;
    border-radius: 8px;
    grid-template-columns: 1fr;
}

.announcement {
    display: grid;
    align-items: center;
    height: 45px;
}

.announcement-header {
    font-weight: 900;
    font-size: 12px;
}

.announcement-desc {
    font-size: 10px;
}

.announcements-linebreak {
    height: 1px;
    background-color: rgb(194, 190, 190);
}

.account {
    display: grid;
    grid-template-columns: 50px 1fr;
    font-size: 12px;
    gap: 8px;
}

.trending-img-container {
    height: 45px;
    border-radius: 50%;
    width: 45px;
    overflow: hidden;
}

.trending-pfp {
    height: 45px;
}
